.git/
.github/
.vscode/
omm.*/
repos/
repos/*
moonshine/
moonshine/*
custom/
custom/*
builds/
builds/*
*.patch
*.z64
*.version
*.txt
*.zip
*.rar
*.wav
!custom/put_patches_textures_sounds_models_audio_packs_here